body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
.main {
  background-image: url('https://stihi.ru/pics/2013/11/29/3755.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  .weatherTop {
    // background-color: rgb(125, 189, 209);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .weatherTopContent {
      padding-top: 70px;
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
}
