.weatherFooter {
  background-color: rgba(88, 88, 88, 0.816);
  height: 31vh;
  margin-top: -31vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  .tempToday {
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .tempWeek {
    display: flex;
  }
}
